/*GENERAL*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/*MENU NAVEGACION*/
/*MENU*/
header {
  height: 10vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.521);
  top: 0;
  left: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #c8c8c8;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  z-index: 10;
}

header .conteinerLogo {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 40px;
  font-family: 'Poppins', sans-serif;
}

header .conteinerLogo a {
  text-decoration: none;
  color: dimgray;
}

header .conteinerLogo a h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header .conteinerLogo a p {
  font-size: 20px;
  margin: 0 0 0 10px;
}

header nav {
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10vh;
  line-height: 10vh;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: dimgray;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header nav ul li a:hover {
  color: #0f0f0f;
  font-weight: 600;
}

header .burger {
  height: 20px;
  width: 20px;
  background-color: aqua;
  display: none;
}

header .splashMenu {
  display: none;
}

/*CUERPO*/
.mainHome {
  height: auto;
  width: 100%;
}

.mainHome #galeria {
  margin-top: 11vh;
  padding-left: 3vh;
  padding-right: 3vh;
}

.mainHome #galeria img {
  width: 100%;
  -webkit-filter: grayscale(100%) contrast(80%);
          filter: grayscale(100%) contrast(80%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 1;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainHome #galeria img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(101%);
          transform: scale(101%);
}

.mainAbout {
  height: 65vh;
  width: 100%;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainAbout .secA, .mainAbout .secB {
  height: 70vh;
  width: 50%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainAbout .secA img {
  width: 400px;
  -webkit-filter: grayscale(100%) contrast(80%);
          filter: grayscale(100%) contrast(80%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.mainAbout .secA img:hover {
  -webkit-filter: none;
          filter: none;
}

.mainAbout .secB {
  padding-left: 4%;
  padding-right: 8%;
  font-family: 'Poppins', sans-serif;
}

.mainProjects {
  border: none;
  height: auto;
  width: 100%;
}

.mainProjects .proyecto {
  height: 100vh;
  width: 100%;
}

.mainProjects .proyecto .imageSector {
  padding-top: 15vh;
  height: 85vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainProjects .proyecto .imageSector img {
  height: auto;
  width: 30%;
  -webkit-filter: grayscale(100%) contrast(80%);
          filter: grayscale(100%) contrast(80%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mainProjects .proyecto .imageSector img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(101%);
          transform: scale(101%);
}

.mainProjects .proyecto .imageDescription {
  font-family: 'Poppins', sans-serif;
  color: dimgray;
  font-size: 15px;
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 0 2%;
}

.mainContact {
  height: 65vh;
  width: 100%;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContact .mapaConteiner {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContact .mapaConteiner #mapid {
  height: 500px;
  width: 500px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: grayscale(100%) contrast(80%);
          filter: grayscale(100%) contrast(80%);
}

.mainContact .mapaConteiner #mapid:hover {
  -webkit-filter: none;
          filter: none;
}

.mainContact .infoConteiner {
  padding-left: 4%;
  padding-right: 8%;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: dimgray;
}

.mainContact .infoConteiner #info {
  height: 500px;
  width: 500px;
}

.mainContact .infoConteiner #info p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mainContact .infoConteiner #info p a {
  color: dimgray;
}

/*PIE DE PAGINA*/
footer {
  margin: 0;
  height: 12vh;
  width: 100%;
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.151);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  color: dimgray;
}

footer .footerA {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerA i {
  color: dimgray;
}

footer .footerB {
  width: 95%;
  height: 2px;
  background-color: #c8c8c8;
}

footer .footerC {
  width: 95%;
  text-align: end;
  margin-top: 1rem;
}

/*RESPONSIVE PARA MOBILE*/
@media (max-width: 768px) {
  /*MENU*/
  header {
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.521);
    top: 0;
    left: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #c8c8c8;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10;
  }
  header .conteinerLogo {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
  }
  header .conteinerLogo a {
    text-decoration: none;
    color: dimgray;
  }
  header .conteinerLogo a h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    font-size: 16px;
  }
  header .conteinerLogo a p {
    font-size: 12px;
  }
  header nav {
    display: none;
  }
  header .burgerConteiner {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
  }
  header .burgerConteiner #burger {
    height: 25px;
    width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .burgerConteiner #burger .line1, header .burgerConteiner #burger .line2, header .burgerConteiner #burger .line3 {
    height: 2px;
    width: 27px;
    background-color: dimgray;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  header .burgerConteiner #burger .act1 {
    -webkit-transform: translateY(12px) rotate(-45deg);
            transform: translateY(12px) rotate(-45deg);
    background-color: white;
  }
  header .burgerConteiner #burger .act2 {
    display: none;
  }
  header .burgerConteiner #burger .act3 {
    -webkit-transform: translateY(-12px) rotate(45deg);
            transform: translateY(-12px) rotate(45deg);
    background-color: white;
  }
  header .splashMenu {
    display: inline-block;
    height: 100vh;
    width: 100%;
    background-color: rgba(97, 97, 97, 0.753);
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    z-index: -10;
  }
  header .splashMenu nav {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100vh;
  }
  header .splashMenu nav ul {
    padding-left: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  header .splashMenu nav ul li a {
    margin: 20px 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    -webkit-transition: color 500ms ease;
    transition: color 500ms ease;
  }
  header .splashMenu nav ul li a:hover {
    color: #0f0f0f;
    text-shadow: 0px 0px 10px white;
  }
  header .active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  footer {
    height: auto;
    width: 100%;
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.151);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Poppins', sans-serif;
    color: dimgray;
    font-size: 15px;
  }
  footer .footerA {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerA i {
    color: dimgray;
    padding: 20px;
  }
  footer .footerB {
    width: 90%;
    height: 2px;
    background-color: #c8c8c8;
  }
  footer .footerC {
    width: 90%;
    text-align: center;
    margin-top: 1rem;
  }
  .mainAbout {
    height: auto;
    width: 100%;
    margin-top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainAbout .secA, .mainAbout .secB {
    height: auto;
    width: 100%;
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainAbout .secA img {
    width: 90%;
    -webkit-filter: grayscale(100%) contrast(80%);
            filter: grayscale(100%) contrast(80%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .mainAbout .secA img:hover {
    -webkit-filter: none;
            filter: none;
  }
  .mainAbout .secB {
    padding: 40px;
    font-family: 'Poppins', sans-serif;
  }
  .mainContact {
    height: auto;
    width: 100%;
    margin-top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContact .mapaConteiner {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContact .mapaConteiner #mapid {
    height: 400px;
    width: 80%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: grayscale(100%) contrast(80%);
            filter: grayscale(100%) contrast(80%);
  }
  .mainContact .mapaConteiner #mapid:hover {
    -webkit-filter: none;
            filter: none;
  }
  .mainContact .infoConteiner {
    margin-top: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: dimgray;
  }
  .mainContact .infoConteiner #info {
    height: 500px;
    width: 500px;
  }
  .mainContact .infoConteiner #info p {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .mainProjects {
    border: none;
    height: auto;
    width: 100%;
  }
  .mainProjects .proyecto {
    height: auto;
    width: 100%;
  }
  .mainProjects .proyecto .imageSector {
    padding-top: 15vh;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainProjects .proyecto .imageSector img {
    height: auto;
    width: 80%;
    -webkit-filter: grayscale(100%) contrast(80%);
            filter: grayscale(100%) contrast(80%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    margin-bottom: 5vh;
  }
  .mainProjects .proyecto .imageSector img:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-transform: scale(101%);
            transform: scale(101%);
  }
  .mainProjects .proyecto .imageDescription {
    font-family: 'Poppins', sans-serif;
    color: dimgray;
    font-size: 15px;
    height: 15vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 10%;
  }
}
/*# sourceMappingURL=style.css.map */