/*GENERAL*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

/*MENU NAVEGACION*/
@import "./StyleComp/navBar";

/*CUERPO*/
@import "./StyleComp/mainHome";
@import "./StyleComp/mainAbout";
@import "./StyleComp/mainProjects";
@import "./StyleComp/mainContact";

/*PIE DE PAGINA*/
@import "./StyleComp/footer";

/*RESPONSIVE PARA MOBILE*/
@media (max-width: 768px){
    @import "./StyleComp/navBarMobile";
    @import "./StyleComp/footerMobile";
    @import "./StyleComp/mainAboutMobile";
    @import "./StyleComp/mainContactMobile";
}