footer{
    height: 12vh;
    width: 100%;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.151);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(105, 105, 105);
    font-size: 15px;
    .footerA{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        i{
            color: rgb(105, 105, 105);
            padding: 20px;
        }
    }
    .footerB{
        width: 90%;
        height: 2px;
        background-color: rgb(200, 200, 200);
    }
    .footerC{
        width: 90%;
        text-align: center;
        margin-top: 1rem;
    }
}