.mainProjects{
    border: none;
    height: auto;
    width: 100%;
    .proyecto{
        height: 100vh;
        width: 100%;
        .imageSector{
            padding-top: 15vh;
            height: 85vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                height: auto;
                width: 30%;
                transition: all 1s ease;
            }
            img:hover{
                transform: scale(101%);
                box-shadow: 10px 10px 10px rgba(112, 128, 144, 0.5);
            }
        }
        .imageDescription{
            font-family: 'Poppins', sans-serif;
            color: rgb(105, 105, 105);
            font-size: 15px;
            height: 15vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 0 0 2%;
        }
    }
}
