.mainHome{
    height: auto;
    width: 100%;
    #galeria{
        margin-top: 11vh;
        padding-left: 3vh;
        padding-right: 3vh;
        img{
            width: 100%;
            filter: grayscale(100%) contrast(80%);
            transition: all 1s ease;
            z-index: 1;
            padding-top: 2.5vh;
            padding-bottom: 2.5vh;
            overflow: hidden;
        }
        img:hover{
            filter:none;
            transform: scale(101%);
            
        }
    }
}