/*MENU*/
header{
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.521);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(200, 200, 200);
    transition: all 2s ease;
    z-index: 10;
    .conteinerLogo{
        flex: 0.5;
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
        font-family: 'Poppins', sans-serif;
        a{
            text-decoration: none;
            color: rgb(105, 105, 105);
            h3{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
            }
            p{
                font-size: 20px;
                margin: 0 0 0 10px;
            }
        }    
    }
    nav{
        font-size: 20px;
        flex: 1;
        height: 10vh;
        line-height: 10vh;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
        ul li a{
            text-decoration: none;
            color: rgb(105, 105, 105);
            transition: all 1s ease;
        }
        ul li a:hover{
            color: rgb(15, 15, 15);
            font-weight:600;
        }
    }
    .burger{
        height: 20px;
        width: 20px;
        background-color: aqua;
        display: none;
    }
    .splashMenu{
        display: none;
    }
}
